name: e2e-test

on:
  workflow_call:
  pull_request:
    branches: [main]
    types: [opened, synchronize, reopened]
  push:
    branches: [main]

concurrency:
  group: e2e-singlecard
  cancel-in-progress: false

jobs:
  e2e:
    name: e2e-test-singlecard
    runs-on:
      - self-hosted
      - Linux
      - X64

    steps:
      
      - name: Checkout PR code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Verify PR workspace
        run: |
          echo "===== WORKSPACE ====="
          pwd
          ls -l
          echo "===== GIT INFO ====="
          git rev-parse HEAD
          git log -1 --oneline
          git status --porcelain

      - name: Start docker
        run: |
          bash ci/scripts/docker/start_docker.sh

      - name: Install enviroments
        run: |
          bash ci/scripts/env/install_env.sh

      - name: Start vLLM server
        run: |
          bash ci/scripts/server/start_vllm.sh

      - name: Wait for vLLM ready
        run: |
          bash ci/scripts/server/wait_vllm.sh

      - name: Accuracy testing
        run: |
          bash ci/scripts/tests/run_accuracy.sh

      - name: Performance testing
        run: |
          bash ci/scripts/tests/run_performance.sh
      
      - name: Set permissions
        if: always()
        run: |
          bash ci/scripts/docker/set_permissions.sh

      - name: Cleanup docker
        if: always()
        run: |
          bash ci/scripts/docker/stop_docker.sh
