name: pr-e2e-1

on:
  pull_request:
    branches:
      - main
      - develop
    types: [opened, synchronize, reopened]

concurrency:
  group: e2e-singlecard
  cancel-in-progress: false

jobs:
  e2e:
    uses: ./.github/workflows/_e2e_test.yml